In [74]:
# Load CSV Using Python Standard Library
import csv
import numpy
import pandas as pd
from pandas import read_csv
from numpy import loadtxt

In [55]:
# load python using pandas
filename = 'pima-indians-diabetes.data.csv'
defined_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = read_csv(filename, names=defined_names)
data.shape

(768, 9)

In [56]:
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [60]:
# how to read excel files using python pandas
df = pd.read_excel('file_example_XLSX_5000.xlsx')
df

     First Name   Last Name  Gender        Country  Age        Date    Id
0         Dulce       Abril  Female  United States   32  15/10/2017  1562
1          Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
2        Philip        Gent    Male         France   36  21/05/2015  2587
3      Kathleen      Hanner  Female  United States   25  15/10/2017  3549
4       Nereida     Magwood  Female  United States   58  16/08/2016  2468
...         ...         ...     ...            ...  ...         ...   ...
4995       Roma  Lafollette  Female  United States   34  15/10/2017  2654
4996     Felisa        Cail  Female  United States   28  16/08/2016  6525
4997   Demetria       Abbey  Female  United States   32  21/05/2015  3265
4998     Jeromy        Danz    Male  United States   39  15/10/2017  3265
4999   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

[5000 rows x 7 columns]

In [61]:
# reading data from the web
data = pd.read_csv('http://winterolympicsmedals.com/medals.csv')
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [69]:
# load python using pandas
import pandas as pd
filename = 'pima-indians-diabetes.data.csv'
defined_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_table(filename,names=defined_names)
data

,preg,plas,pres,skin,test,mass,pedi,age,class
0,"6,148,72,35,0,33.6,0.627,50,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,85,66,29,0,26.6,0.351,31,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"8,183,64,0,0,23.3,0.672,32,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1,89,66,23,94,28.1,0.167,21,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"0,137,40,35,168,43.1,2.288,33,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
763,"10,101,76,48,180,32.9,0.171,63,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,"2,122,70,27,0,36.8,0.340,27,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,"5,121,72,23,112,26.2,0.245,30,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,"1,126,60,0,0,30.1,0.349,47,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767,"1,93,70,31,0,30.4,0.315,23,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
# load python using pandas
import pandas as pd
filename = 'pima-indians-diabetes.data.csv'
defined_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_table(filename, delimiter=',',names=defined_names)
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [72]:
data.shape

(7, 5)

In [73]:
data

        Price       Date    Time  Change  Volume
Symbol  Price       Date    Time  Change  Volume
AA      39.48  6/11/2007  9:36am   -0.18  181800
AIG     71.38  6/11/2007  9:36am   -0.15  195500
AXP     62.58  6/11/2007  9:36am   -0.46  935000
BA      98.31  6/11/2007  9:36am   +0.12  104800
C       53.08  6/11/2007  9:36am   -0.25  360900
CAT     78.29  6/11/2007  9:36am   -0.23  225400