In [3]:
import pandas as pd
#from pandas import read_csv
#from pandas import read_csv
#from pandas import read_excel

In [4]:
# load python using pandas
filename = 'pima-indians-diabetes.data.csv'

In [5]:
defined_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_csv(filename, names=defined_names)
data.shape

(768, 9)

In [ ]:
data.duplicated

In [6]:
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [7]:
data.

(768, 9)

In [58]:
rows_300_to_310 = data.iloc[300:311]  # iloc is used for integer-based indexing
print(rows_300_to_310)

     preg  plas  pres  skin  test  mass   pedi  age  class
300     0   167     0     0     0  32.3  0.839   30      1
301     2   144    58    33   135  31.6  0.422   25      1
302     5    77    82    41    42  35.8  0.156   35      0
303     5   115    98     0     0  52.9  0.209   28      1
304     3   150    76     0     0  21.0  0.207   37      0
305     2   120    76    37   105  39.7  0.215   29      0
306    10   161    68    23   132  25.5  0.326   47      1
307     0   137    68    14   148  24.8  0.143   21      0
308     0   128    68    19   180  30.5  1.391   25      1
309     2   124    68    28   205  32.9  0.875   30      1
310     6    80    66    30     0  26.2  0.313   41      0

In [59]:
# Assuming your DataFrame is named 'df'
rows_300_to_310 = data.iloc[300:311]  # Select rows 300 to 310

# Write the selected rows to a CSV file
rows_300_to_310.to_csv("mycsv.csv", index=False)

print("Selected rows written to 'mycsv.csv'")

Selected rows written to 'mycsv.csv'

In [61]:
newrows = pd.read_csv("mycsv.csv")
newrows

    preg  plas  pres  skin  test  mass   pedi  age  class
0      0   167     0     0     0  32.3  0.839   30      1
1      2   144    58    33   135  31.6  0.422   25      1
2      5    77    82    41    42  35.8  0.156   35      0
3      5   115    98     0     0  52.9  0.209   28      1
4      3   150    76     0     0  21.0  0.207   37      0
5      2   120    76    37   105  39.7  0.215   29      0
6     10   161    68    23   132  25.5  0.326   47      1
7      0   137    68    14   148  24.8  0.143   21      0
8      0   128    68    19   180  30.5  1.391   25      1
9      2   124    68    28   205  32.9  0.875   30      1
10     6    80    66    30     0  26.2  0.313   41      0

In [ ]:
data.describe()

In [49]:
# how to read excel files using python pandas
df = pd.read_excel('pima-indians-diabetes.data.xlsx',names=defined_names)
df.shape

(767, 9)

In [50]:
df

     preg  plas  pres  skin  test  mass   pedi  age  class
0       1    85    66    29     0  26.6  0.351   31      0
1       8   183    64     0     0  23.3  0.672   32      1
2       1    89    66    23    94  28.1  0.167   21      0
3       0   137    40    35   168  43.1  2.288   33      1
4       5   116    74     0     0  25.6  0.201   30      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
762    10   101    76    48   180  32.9  0.171   63      0
763     2   122    70    27     0  36.8  0.340   27      0
764     5   121    72    23   112  26.2  0.245   30      0
765     1   126    60     0     0  30.1  0.349   47      1
766     1    93    70    31     0  30.4  0.315   23      0

[767 rows x 9 columns]

In [ ]:
df.dtypes

In [51]:
# how to read excel files using python pandas
df = pd.read_excel('immigration.xlsx')
df

     First Name   Last Name  Gender        Country  Age        Date    Id
0         Dulce       Abril  Female  United States   32  15/10/2017  1562
1          Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
2        Philip        Gent    Male         France   36  21/05/2015  2587
3      Kathleen      Hanner  Female  United States   25  15/10/2017  3549
4       Nereida     Magwood  Female  United States   58  16/08/2016  2468
...         ...         ...     ...            ...  ...         ...   ...
4995       Roma  Lafollette  Female  United States   34  15/10/2017  2654
4996     Felisa        Cail  Female  United States   28  16/08/2016  6525
4997   Demetria       Abbey  Female  United States   32  21/05/2015  3265
4998     Jeromy        Danz    Male  United States   39  15/10/2017  3265
4999   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

[5000 rows x 7 columns]

In [52]:
# reading data from the web / cloud
data = pd.read_csv('https://raw.githubusercontent.com/Featuretools/predict-olympic-medals/master/data/olympic_games_data/winter.csv')
data

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [ ]:
# This program shows that read_table does not read the data from a csv file if delimiter ',' is not given
#import pandas as pd
#filename = 'pima-indians-diabetes.data.csv'
#defined_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
#data = pd.read_table(filename,names=defined_names)
#data

In [53]:
# load python using pandas
import pandas as pd
filename = 'pima-indians-diabetes.data.csv'
defined_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_table(filename, delimiter=',',names=defined_names)
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [54]:
data.shape

(768, 9)

In [ ]:
data

In [ ]:
x