In [1]:
import pandas as pd

In [2]:
# how to read excel files using python pandas
immigration = pd.read_excel('immigration.xlsx')

In [3]:
immigration.shape

(5000, 7)

# this is a simple illustration

In [4]:
immigration

     First Name   Last Name  Gender        Country  Age        Date    Id
0         Dulce       Abril  Female  United States   32  15/10/2017  1562
1          Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
2        Philip        Gent    Male         France   36  21/05/2015  2587
3      Kathleen      Hanner  Female  United States   25  15/10/2017  3549
4       Nereida     Magwood  Female  United States   58  16/08/2016  2468
...         ...         ...     ...            ...  ...         ...   ...
4995       Roma  Lafollette  Female  United States   34  15/10/2017  2654
4996     Felisa        Cail  Female  United States   28  16/08/2016  6525
4997   Demetria       Abbey  Female  United States   32  21/05/2015  3265
4998     Jeromy        Danz    Male  United States   39  15/10/2017  3265
4999   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

[5000 rows x 7 columns]