In [15]:
import matplotlib.pyplot as plt
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import Binarizer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from numpy import set_printoptions
from pandas import read_csv

In [16]:
filename = 'residence.csv'
names = ['PID','HOUSE_NUMBER','CITY_NAME','OWN_OCCUPIED','NUM_BEDROOMS','NUM_BATHROOMS','SQ_FT']
data = read_csv(filename,names = names)

In [17]:
print(data)

      PID  HOUSE_NUMBER      CITY_NAME OWN_OCCUPIED NUM_BEDROOMS  \
0  3425.0         104.0      Bangalore            Y            3
1  6758.0         197.0       NewDelhi            N            3
2  2333.0           NaN         Jaipur            N          NaN
3  4545.0         201.0         Hassan          NaN            1
4     NaN         203.0  Vishakapatnam            Y            3
5  7877.0         207.0         Meerut            Y          NaN
6  9897.0           NaN        Madurai          NaN            2
7  9291.0         213.0     Chandigarh            Y            1
8  4532.0         215.0        Calicut            Y           na

   NUM_BATHROOMS   SQ_FT
0            1.0  1000.0
1            1.5     NaN
2            1.0   850.0
3            NaN   700.0
4            2.0  1600.0
5            1.0   800.0
6            NaN   950.0
7            1.0     NaN
8            2.0  1800.0

In [18]:
print(data.notnull())

     PID  HOUSE_NUMBER  CITY_NAME  OWN_OCCUPIED  NUM_BEDROOMS  NUM_BATHROOMS  \
0   True          True       True          True          True           True
1   True          True       True          True          True           True
2   True         False       True          True         False           True
3   True          True       True         False          True          False
4  False          True       True          True          True           True
5   True          True       True          True         False           True
6   True         False       True         False          True          False
7   True          True       True          True          True           True
8   True          True       True          True          True           True

   SQ_FT
0   True
1  False
2   True
3   True
4   True
5   True
6   True
7  False
8   True

In [19]:
print(data.fillna(0))

      PID  HOUSE_NUMBER      CITY_NAME OWN_OCCUPIED NUM_BEDROOMS  \
0  3425.0         104.0      Bangalore            Y            3
1  6758.0         197.0       NewDelhi            N            3
2  2333.0           0.0         Jaipur            N            0
3  4545.0         201.0         Hassan            0            1
4     0.0         203.0  Vishakapatnam            Y            3
5  7877.0         207.0         Meerut            Y            0
6  9897.0           0.0        Madurai            0            2
7  9291.0         213.0     Chandigarh            Y            1
8  4532.0         215.0        Calicut            Y           na

   NUM_BATHROOMS   SQ_FT
0            1.0  1000.0
1            1.5     0.0
2            1.0   850.0
3            0.0   700.0
4            2.0  1600.0
5            1.0   800.0
6            0.0   950.0
7            1.0     0.0
8            2.0  1800.0

In [20]:
print(data.fillna(method = 'pad'))

      PID  HOUSE_NUMBER      CITY_NAME OWN_OCCUPIED NUM_BEDROOMS  \
0  3425.0         104.0      Bangalore            Y            3
1  6758.0         197.0       NewDelhi            N            3
2  2333.0         197.0         Jaipur            N            3
3  4545.0         201.0         Hassan            N            1
4  4545.0         203.0  Vishakapatnam            Y            3
5  7877.0         207.0         Meerut            Y            3
6  9897.0         207.0        Madurai            Y            2
7  9291.0         213.0     Chandigarh            Y            1
8  4532.0         215.0        Calicut            Y           na

   NUM_BATHROOMS   SQ_FT
0            1.0  1000.0
1            1.5  1000.0
2            1.0   850.0
3            1.0   700.0
4            2.0  1600.0
5            1.0   800.0
6            1.0   950.0
7            1.0   950.0
8            2.0  1800.0

In [22]:
data["HOUSE_NUMBER"].fillna("NO NUMBER",inplace=True)
print(data)

      PID HOUSE_NUMBER      CITY_NAME OWN_OCCUPIED NUM_BEDROOMS  \
0  3425.0          104      Bangalore            Y            3
1  6758.0          197       NewDelhi            N            3
2  2333.0    NO NUMBER         Jaipur            N          NaN
3  4545.0          201         Hassan          NaN            1
4     NaN          203  Vishakapatnam            Y            3
5  7877.0          207         Meerut            Y          NaN
6  9897.0    NO NUMBER        Madurai          NaN            2
7  9291.0          213     Chandigarh            Y            1
8  4532.0          215        Calicut            Y           na

   NUM_BATHROOMS   SQ_FT
0            1.0  1000.0
1            1.5     NaN
2            1.0   850.0
3            NaN   700.0
4            2.0  1600.0
5            1.0   800.0
6            NaN   950.0
7            1.0     NaN
8            2.0  1800.0

In [23]:
data["OWN_OCCUPIED"].fillna(0,inplace=True)
print(data)

      PID HOUSE_NUMBER      CITY_NAME OWN_OCCUPIED NUM_BEDROOMS  \
0  3425.0          104      Bangalore            Y            3
1  6758.0          197       NewDelhi            N            3
2  2333.0    NO NUMBER         Jaipur            N          NaN
3  4545.0          201         Hassan            0            1
4     NaN          203  Vishakapatnam            Y            3
5  7877.0          207         Meerut            Y          NaN
6  9897.0    NO NUMBER        Madurai            0            2
7  9291.0          213     Chandigarh            Y            1
8  4532.0          215        Calicut            Y           na

   NUM_BATHROOMS   SQ_FT
0            1.0  1000.0
1            1.5     NaN
2            1.0   850.0
3            NaN   700.0
4            2.0  1600.0
5            1.0   800.0
6            NaN   950.0
7            1.0     NaN
8            2.0  1800.0

In [24]:
data["OWN_OCCUPIED"].fillna(apply_regression(dataset),inplace=True)
print(data)

NameError: name 'apply_regression' is not defined