# import modules

In [2]:
from pandas import read_csv

# read the csv file

In [3]:
filename = 'daily_retail_price_Onion-upto_apr_2015.csv'
header_names = ['Date','Centre_Name','Commodity_Name','Price']
data = read_csv(filename,names = header_names)

# display the data

In [4]:
data

            Date      Centre_Name Commodity_Name  Price
0       25-11-97            DELHI          Onion    8.0
1       25-11-97           SHIMLA          Onion    7.0
2       25-11-97          LUCKNOW          Onion    5.0
3       25-11-97        AHMEDABAD          Onion    6.0
4       25-11-97           BHOPAL          Onion    8.0
...          ...              ...            ...    ...
127906  28-04-15         DINDIGUL          Onion   18.0
127907  28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908  28-04-15       COIMBATORE          Onion   18.0
127909  28-04-15      TIRUNELVELI          Onion   18.0
127910  28-04-15        HYDERABAD          Onion   22.0

[127911 rows x 4 columns]

# simple commands

In [ ]:
print(data.dtypes)

In [ ]:
data.ndim

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
data.head(10)

In [ ]:
data.tail()

In [ ]:
data.tail(10)

# sorting by individual columns

In [ ]:
data.sort_values('Price')

In [ ]:
data['Price'].sort_values()

In [ ]:
data.sort_values('Centre_Name')

In [ ]:
data['Centre_Name'].sort_values()

In [ ]:
data.sort_values('Price').head()

In [ ]:
data.sort_values('Price',ascending=False)

this is a header

# selecting columns

In [ ]:
data['Date']

In [ ]:
data['Centre_Name']

In [ ]:
data[['Date', 'Price']]

# groupby command

In [ ]:
len(data.groupby('Centre_Name'))

In [ ]:
list(data.groupby('Centre_Name'))

In [ ]:
len(data.groupby('Price'))

# dropping columns

In [ ]:
data.drop(['Date', 'Commodity_Name'],axis=1)

In [ ]:
data.drop(columns=['Date', 'Commodity_Name'])

# selecting columns by index - loc and iloc

In [ ]:
data.iloc[:, 0:2]

In [ ]:
data[data.columns[1:3]]

# rename columns

In [5]:
data.rename(columns={"Date": "Date_of_Sale"})

       Date_of_Sale      Centre_Name Commodity_Name  Price
0          25-11-97            DELHI          Onion    8.0
1          25-11-97           SHIMLA          Onion    7.0
2          25-11-97          LUCKNOW          Onion    5.0
3          25-11-97        AHMEDABAD          Onion    6.0
4          25-11-97           BHOPAL          Onion    8.0
...             ...              ...            ...    ...
127906     28-04-15         DINDIGUL          Onion   18.0
127907     28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908     28-04-15       COIMBATORE          Onion   18.0
127909     28-04-15      TIRUNELVELI          Onion   18.0
127910     28-04-15        HYDERABAD          Onion   22.0

[127911 rows x 4 columns]

In [6]:
data

            Date      Centre_Name Commodity_Name  Price
0       25-11-97            DELHI          Onion    8.0
1       25-11-97           SHIMLA          Onion    7.0
2       25-11-97          LUCKNOW          Onion    5.0
3       25-11-97        AHMEDABAD          Onion    6.0
4       25-11-97           BHOPAL          Onion    8.0
...          ...              ...            ...    ...
127906  28-04-15         DINDIGUL          Onion   18.0
127907  28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908  28-04-15       COIMBATORE          Onion   18.0
127909  28-04-15      TIRUNELVELI          Onion   18.0
127910  28-04-15        HYDERABAD          Onion   22.0

[127911 rows x 4 columns]

In [7]:
data.rename(columns={"Date": "Date_of_Sale"},inplace=True)

In [8]:
data

       Date_of_Sale      Centre_Name Commodity_Name  Price
0          25-11-97            DELHI          Onion    8.0
1          25-11-97           SHIMLA          Onion    7.0
2          25-11-97          LUCKNOW          Onion    5.0
3          25-11-97        AHMEDABAD          Onion    6.0
4          25-11-97           BHOPAL          Onion    8.0
...             ...              ...            ...    ...
127906     28-04-15         DINDIGUL          Onion   18.0
127907     28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908     28-04-15       COIMBATORE          Onion   18.0
127909     28-04-15      TIRUNELVELI          Onion   18.0
127910     28-04-15        HYDERABAD          Onion   22.0

[127911 rows x 4 columns]

# set index and reset index

In [9]:
print(data.set_index("Price"))

      Date_of_Sale      Centre_Name Commodity_Name
Price
8.0       25-11-97            DELHI          Onion
7.0       25-11-97           SHIMLA          Onion
5.0       25-11-97          LUCKNOW          Onion
6.0       25-11-97        AHMEDABAD          Onion
8.0       25-11-97           BHOPAL          Onion
...            ...              ...            ...
18.0      28-04-15         DINDIGUL          Onion
18.0      28-04-15  THIRUCHIRAPALLI          Onion
18.0      28-04-15       COIMBATORE          Onion
18.0      28-04-15      TIRUNELVELI          Onion
22.0      28-04-15        HYDERABAD          Onion

[127911 rows x 3 columns]

In [10]:
print(data.set_index("Centre_Name"))

                Date_of_Sale Commodity_Name  Price
Centre_Name
DELHI               25-11-97          Onion    8.0
SHIMLA              25-11-97          Onion    7.0
LUCKNOW             25-11-97          Onion    5.0
AHMEDABAD           25-11-97          Onion    6.0
BHOPAL              25-11-97          Onion    8.0
...                      ...            ...    ...
DINDIGUL            28-04-15          Onion   18.0
THIRUCHIRAPALLI     28-04-15          Onion   18.0
COIMBATORE          28-04-15          Onion   18.0
TIRUNELVELI         28-04-15          Onion   18.0
HYDERABAD           28-04-15          Onion   22.0

[127911 rows x 3 columns]

In [11]:
data

       Date_of_Sale      Centre_Name Commodity_Name  Price
0          25-11-97            DELHI          Onion    8.0
1          25-11-97           SHIMLA          Onion    7.0
2          25-11-97          LUCKNOW          Onion    5.0
3          25-11-97        AHMEDABAD          Onion    6.0
4          25-11-97           BHOPAL          Onion    8.0
...             ...              ...            ...    ...
127906     28-04-15         DINDIGUL          Onion   18.0
127907     28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908     28-04-15       COIMBATORE          Onion   18.0
127909     28-04-15      TIRUNELVELI          Onion   18.0
127910     28-04-15        HYDERABAD          Onion   22.0

[127911 rows x 4 columns]

In [12]:
print(data.set_index("Centre_Name",inplace=True))

None

In [13]:
data

                Date_of_Sale Commodity_Name  Price
Centre_Name
DELHI               25-11-97          Onion    8.0
SHIMLA              25-11-97          Onion    7.0
LUCKNOW             25-11-97          Onion    5.0
AHMEDABAD           25-11-97          Onion    6.0
BHOPAL              25-11-97          Onion    8.0
...                      ...            ...    ...
DINDIGUL            28-04-15          Onion   18.0
THIRUCHIRAPALLI     28-04-15          Onion   18.0
COIMBATORE          28-04-15          Onion   18.0
TIRUNELVELI         28-04-15          Onion   18.0
HYDERABAD           28-04-15          Onion   22.0

[127911 rows x 3 columns]

# more simple commands

In [14]:
data['Centre_Name'].value_counts()

KeyError: 'Centre_Name'

In [ ]:
data['Commodity_Name'].value_counts()

In [ ]:
data['Price'].value_counts()

In [ ]:
data['Centre_Name'].nunique()

In [ ]:
data['Centre_Name'].unique()